body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    overflow-x: hidden;
    /* fixing the overflow duting animation */
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 3em;
}
h3 {
    font-size: 1.6em;
    line-height: 1.4em;
}
p {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 24px;
    font-weight: 400;
}
a {
    color: #444;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
a:hover,
a:focus {
    color: #3498db;
}
img {
    max-width: 100%;
    margin-left: 40px;
}
ul {
    margin: 0px;
    padding: 0px;
}
ul li {
    list-style: none;
    margin: 0;
}
ol {
    list-style: none;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}
.center {
    text-align: center;
}
.btn i {
    margin-right: 5px;
}
::selection {
    background: #3498db;
    color: #fff;
}
::-moz-selection {
    background: #3498db;
    color: #fff;
}
.block-title {
    margin: 0px 0px 20px;
}
h3.block-title {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 5px;
}
/*====================================================
		bootstrap default style overriding
	====================================================*/
.btn {
    padding: 16px 22px;
    color: #fff;
    border-radius: 4px;
    position: relative;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: none;
    text-transform: uppercase;
}
.btn:focus,
.btn:hover {
    color: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.btn-common {
    background: #3498db;
}
.btn-common:hover {
    background: #48acef;
}
.btn-danger:hover {
    background: #ed6763;
}
.btn-border {
    background: #4285F4;
    padding: 16px 36px!important;
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}
.btn-border:hover {
    opacity: 0.8;
    color: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.btn-search {
    padding: 11px;
}
.btn-sm {
    font-size: 13px;
    padding: 4px 8px;
    line-height: 1.5;
    margin-bottom: 5px;
    border: none;
}
.btn-xs {
    border-radius: 0px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
}
.btn-rm {
    padding: 10px 21px;
    margin-top: 30px;
    text-transform: capitalize;
}
.btn-post {
    padding: 10px 16px;
}
.wrapper {
    padding: 60px 0;
}
.section {
    padding: 60px 0;

}
.section-title {
    font-size: 24px;
    letter-spacing: 0.1em;
    padding: 20px 0px;
    text-transform: uppercase;
    font-weight: 400;
}
.title-2 {
    border-bottom: 1px solid #E6E6E6;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px 0;
    text-transform: uppercase;
}
#content {
    padding: 80px 0;
}
.main-container {
    padding: 80px 0;
}
.page-header {
    padding: 40px 0;
    margin: 0;
    border-top: 1px solid #eee;
}
.page-header .page-title {
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.breadcrumb-wrapper {
    text-align: center;
}
.breadcrumb {
    font-size: 14px;
    color: #3498db;
    border-radius: 0px;
    background: #f7f7f7;
    padding: 5px 15px;
    position: absolute;
    z-index: 1;
    margin-top: 64px;
}
.breadcrumb a {
    color: #444;
}
.breadcrumb a:hover {
    color: #3498db;
}
.no-padding {
    padding: 0px !important;
}
select.form-control {
    border: 0;
    outline: 1px solid #ddd;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 0;
}
select.form-control:focus {
    border: 0;
    outline: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
}
#loader {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
}
.sk-folding-cube {
    margin: 0px auto;
    top: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3498db;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
/* ==========================================================================
   Navigation Menu Styles
   ========================================================================== */
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    padding: 0 0 0 15px;
    width: 120px;
}
.tbtn {
    color: #FFF !important;
    font-size: 30px;
    height: 42px;
    width: 105px;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    background: #E74C3C;
    z-index: 999;
    top: 124px;
    left: 0px;
}
.tbtn p {
    font-size: 12px;
}
.tbtn p i {
    margin-right: 4px;
    font-size: 12px;
}
.title-menu {
    font-size: 15px;
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
}
.navmenu,
.navbar-offcanvas {
    width: 180px;
    z-index: 99999;
}
.navmenu-default,
.navbar-default .navbar-offcanvas {
    background-color: #f4fffc;
    border-left: 1px solid #eee;
}
.navmenu-default .navmenu-nav > li > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover,
.navmenu-default .navmenu-nav > li > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:focus {
    color: #3498db;
    background-color: transparent;
}
.nav > li {
    position: relative;
    display: block;
}
.navmenu-default .navmenu-nav > li > a,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a {
    color: #444;
    padding: 0px 15px;
    font-size: 12px;
    border-bottom: 1px solid #eee;
}
nav#menu span.fa.fa-bars:hover {
    color: #3498db;
}
.navmenu-default .navmenu-nav > .active > a,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a,
.navmenu-default .navmenu-nav > .active > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a:hover,
.navmenu-default .navmenu-nav > .active > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a:focus {
    color: #3498db;
}
.close {
    background: transparent;
    padding: 8px 12px;
    opacity: 1;
}
.close i {
    background: #E74C3C;
    color: #fff;
    padding: 6px;
    font-size: 16px;
}
/* ==========================================================================
   Custom Component
   ========================================================================== */
/* ==========================================================================
   Preset Loader
   ========================================================================== */
/* ==========================================================================
   Header Style
   ========================================================================== */
.navbar-default {
    margin-bottom: 0;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
}
.navbar-header {
    position: relative;
    padding: 15px 0;
    margin: 0 !important;
}
.main-navigation .navbar-nav {
    margin-top: 20px;
    position: relative;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.main-navigation .navbar-nav > li a {
    color: #444;
    line-height: normal;
    border-radius: 4px;
    padding: 12px 15px;
    font-size: 13px;
    outline: 0;
    letter-spacing: 0.3px;
    -moz-transition: color .3s linear;
    -webkit-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear;
}
.main-navigation .navbar-nav > li a:hover,
.main-navigation .navbar-nav > li a.active,
.main-navigation .navbar-nav > li a:focus {
    color: #3498db;
}
.main-navigation .navbar-nav > li a i {
    margin-right: 3px;
}
.main-navigation .navbar-nav > li.postadd {
    padding-left: 25px;
    margin-left: 5px;
    border-left: 1px solid #ddd;
}
.main-navigation .navbar-nav > li.postadd a {
    box-sizing: border-box;
    color: #FFF;
    font-size: 12px;
    height: 40px;
    line-height: normal;
    text-transform: uppercase;
    width: 140px;
    webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.main-navigation .navbar-nav > li.postadd a:hover {
    color: #fff;
    background: #FF625D;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background: transparent;
    color: #3498db;
}
.navbar-default li > ul.user-menu {
    padding: 0;
    min-width: 170px;
    border-radius: 0;
}
.navbar-default li > ul.user-menu li a {
    font-size: 11px;
    display: block;
    border-bottom: 1px solid #eee;
    font-weight: 400;
    padding: 6px 10px;
}
.navbar-default li > ul.user-menu li a i {
    margin-right: 8px;
}
.li .dropdown-menu.user-menu > .active > a,
.dropdown-menu.user-menu > .active > a:focus {
    background: #ddd;
    color: #444;
    font-weight: 700;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    background-color: #eee;
}
.navbar-default .navbar-toggle {
    border-color: #eee;
    border-radius: 0;
}
/*====================================================
      intro section style
    ====================================================*/
.section-intro {
    background: url("image/hel.jpg") center no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    height:500px ;
}
.section-intro .overlay {
    background: rgba(0, 0, 0, 0.5) repeat;
    width: 100%;
    height: 100%;
}
.section-intro .main-text {
    margin: 100px 15px 130px;
    text-transform: uppercase;
}
.section-intro .main-text .intro-title {
    font-size: 50px;
    font-weight: 300;
    color: #fff;
    white-space: nowrap;
    line-height: 58px;
}
.section-intro .main-text .sub-title {
    font-size: 14px;
    color: #fff;
    padding: 15px 0;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
#search-row-wrapper {
    background-size: cover;
    color: #fff;
    text-align: center;
}
#search-row-wrapper .overlay {
    background: rgba(0, 0, 0, 0.49);
    width: 100%;
    height: 100%;
}
#search-row-wrapper .search-inner {
    padding: 40px 0;
}
/* ==========================================================================
   Advanced search
   ========================================================================== */
.search-bar {
    background: rgba(151, 151, 151, 0.33);
    padding: 20px;
}
.search-bar i {
    font-size: 15px;
    position: absolute;
    top: 0px;
    background-color: transparent;
    color: #444;
    right: 15px;
    padding: 15px;
}
.search-bar .form-group {
    margin: 0 0 0 12px;
}
.search-bar .btn-group,
.search-bar .btn-group-vertical {
    margin: 0;
}
.search-bar .btn-select {
    padding: 12px;
    border-radius: 0;
    color: #555;
    background: #fff;
    text-transform: none;
}
.search-bar .dropdown-menu li a:hover,
.search-bar .dropdown-menu li a:focus,
.search-bar .dropdown-menu li a:active {
    background-color: #3498db;
    color: #FFFFFF;
    border-radius: 0;
}
.search-bar .btn-group.bootstrap-select.dropdown-product ul.dropdown-menu.inner {
    display: none;
}
.search-bar .btn-group.bootstrap-select.dropdown-product.open ul.dropdown-menu.inner {
    display: block;
    z-index: 9999;
}
.search-bar .open .dropdown-menu {
    margin-top: 0;
}
.search-bar .btn-group .dropdown-menu,
.search-bar .btn-group-vertical .dropdown-menu {
    border-radius: 0;
    text-transform: none;
}
.input-group-addon {
    border: none;
    background: transparent;
}
.search-category .search-category-container {
    border: none;
    padding: 0;
    position: relative;
    border-radius: 0;
    border: none!important;
    background: #fff;
}
.input-group-addon {
    padding: 0!important;
}
.styled-select select {
    background: transparent;
    font-size: 14px;
    line-height: 18px;
    border-radius: 0;
    height: 44px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}
.styled-select {
    position: relative;
    margin-bottom: 0;
}
.styled-select:before {
    content: "\f0c9";
    font-family: FontAwesome;
    color: #555;
    right: 0;
    padding: 15px;
    position: absolute;
    z-index: 9999;
    cursor: pointer;
}
.styled-select .bs-caret {
    display: none;
}
.location-select:before {
    content: "\f278";
}
.search-category select {
    padding: 12px;
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
select > opation:focus {
    box-shadow: none;
    border: none;
}




.footer {
    background: #232425;
}

.footer .block h4 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 25px;
}

.footer .block.about img {
    margin-bottom: 25px;
}

.footer .block.about p {
    line-height: 26px;
}

.footer .block ul li {
    margin-bottom: 10px;
}

.footer .block ul li a {
    display: block;
    font-size: 14px;
    color: #797979;
}

.footer .block ul li a:hover {
    color: #5672f9;
    text-decoration: underline;
}

.footer .block ul.terms-list {
    margin-top: 10px;
}

.footer .block ul.terms-list li a {
    padding-right: 10px;
}

@media (max-width: 768px) {
    .footer .block:last-child {
        margin-bottom: 30px;
    }
}

.footer .block-2 {
    padding: 18px 30px;
    background: #46484A;
    border-radius: 2px;
}

.footer .block-2.app-promotion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.footer .block-2.app-promotion p {
    margin-left: 20px;
    color: #fff;
}

.footer .block-2.discount-coupon p {
    color: #fff;
    margin-bottom: 0;
}

.footer .block-2.discount-coupon p a {
    color: #5672f9;
}

.footer-bottom {
    position: relative;
    background: #363839;
    padding: 25px 0;
}

@media (max-width: 480px) {
    .footer-bottom {
        text-align: center;
    }
}

.footer-bottom .copyright p {
    color: #c7c7c7;
    margin-bottom: 0;
}

.social-media-icons {
    text-align: center !important;
}

.social-media-icons li {
    display: inline-block;
}

.social-media-icons li a {
    color: #848484;
    padding: 0 20px;
}

.social-media-icons li a:hover {
    color: #fff !important;
    text-decoration: none;
}

.top-to {
    position: absolute;
    right: 20px;
    bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.top-to a {
    width: 40px;
    height: 40px;
    background: #5672f9;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.top-to a i {
    line-height: 40px;
}

.top-to a:hover {
    text-decoration: none;
}

/*# sourceMappingURL=maps/style.css.map */
/* Category font*/
.fon{
    color: #0ab1fc;
    left: 0px;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 5
}
.card{
    box-shadow: #f5f5f5;
}

.img{
    width: 100%;
    height:auto;
}

#lo{
    margin-top: 40px;
    font-size: 25px;
}
.car{

    margin-top: 30px;
}

.badge{
    float: right;

}



.user-profile, .dashboard {
    padding-top: 50px;
    border-radius:10px;
}

.overly {
    position: relative;
}

.overly:before {
    content: '';
    background: rgba(0, 0, 0, 0.51);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



.widget {
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 25px 30px 30px;
    margin-bottom: 30px;
    border-radius: 2px;

}


.widget.user {
    padding-top: 50px;
}

.widget.user .image img {
    width: 157px;
    height: 157px;
    border-radius: 100%;
    border: 7px solid #dedede;
}

.widget.user h5 {
    font-size: 20px;
    margin-top: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}

.widget .welcome-message h2 {
    font-size: 30px;
    line-height: 54px;
    letter-spacing: .05em;
}

.widget .welcome-message p {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0;
    color: #848484;
}

.widget.personal-info .form-group, .widget.change-password .form-group, .widget.change-email .form-group {
    margin-bottom: 25px;
}

.widget.personal-info .form-group i, .widget.change-password .form-group i, .widget.change-email .form-group i {
    color: white;
    background: #5672f9;
    font-size: 25px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin-right: 15px;
    border-radius: 100%;
}

.widget .widget-header {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
}
.profile-thumb img {
    width: 130px;
    height: auto;
    border: 5px solid #F4F7F9;

}
.con{
    margin-top: 30px;
}
.bot{
    text-align: center;
    margin-top: 50px;
}

/* -------------------------------------------------
   New login and reguister css
------------------------------------------------------
*/



h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}


label {
    display: block;
    margin: 0;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ utility ]*/

/*==================================================================
[ Text ]*/
.txt1 {
    font-family: Montserrat-Regular;
    font-size: 13px;
    line-height: 1.4;
    color: #555555;
}

.txt2 {
    font-family: Montserrat-Regular;
    font-size: 13px;
    line-height: 1.4;
    color: #999999;
}


/*==================================================================
[ Size ]*/
.size1 {
    width: 355px;
    max-width: 100%;
}

.size2 {
    width: calc(100% - 43px);
}

/*==================================================================
[ Background ]*/
.bg1 {background: #3b5998;}
.bg2 {background: #1da1f2;}
.bg3 {background: #cd201f;}


/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}


.wrap-login100 {
    width: 100%;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;

}

/*==================================================================
[ login more ]*/
.login100-more {
    width: calc(100% - 560px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.login100-more::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
}



/*==================================================================
[ Form ]*/

.login100-form {
    width: 560px;
    min-height: 100vh;
    display: block;
    background-color: #f7f7f7;
    padding: 173px 55px 55px 55px;
}

.login100-form-title {
    width: 100%;
    display: block;
    font-family: Poppins-Regular;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    height: 80px;
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.label-input100 {
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #999999;
    line-height: 1.2;

    display: block;
    position: absolute;
    pointer-events: none;
    width: 100%;
    padding-left: 24px;
    left: 0;
    top: 30px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    padding: 0 26px;
}

input.input100 {
    height: 100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

/*---------------------------------------------*/

.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #6675df;
    border-radius: 10px;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
    visibility: visible;
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.eff-focus-selection {
    visibility: visible;
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.input100:focus {
    height: 48px;
}

.input100:focus + .focus-input100 + .label-input100 {
    top: 14px;
    font-size: 13px;
}

.has-val {
    height: 48px !important;
}

.has-val + .focus-input100 + .label-input100 {
    top: 14px;
    font-size: 13px;
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
    display: none;
}

.label-checkbox100 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #999999;
    line-height: 1.4;

    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}

.label-checkbox100::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: transparent;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #6675df;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
    color: #6675df;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: #6675df;

    font-family: Montserrat-Bold;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    background: #333333;
}



/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
    .login100-form {
        width: 50%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .login100-more {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .login100-form {
        width: 100%;
    }

    .login100-more {
        display: none;
    }
}

@media (max-width: 576px) {
    .login100-form {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 70px;
    }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    z-index: 100;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;

    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    z-index: 110;
    color: #c80000;
    font-size: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}



/*==================================================================
[ Social ]*/
.login100-form-social-item {
    width: 36px;
    height: 36px;
    font-size: 18px;
    color: #fff;
    border-radius: 50%;
}

.login100-form-social-item:hover {
    background: #333333;
    color: #fff;
}
#ads{
    margin-top: 50px;
}
.fil{
    margin-left: 50px;
}
